.ftw{
    position: relative;
    .color-bg{
        margin: 10px 0px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        .faces-val{
            font-size: 22px;
            color: #f13c6e;
            font-family: "Muli-SemiBold";
            line-height: 22px;
            .faces-lbl{
                font-family: "Muli-Regular";
                margin-top: 0px;
                font-size: 16px;
                color:#555;
                line-height: 16px;
                margin-top: 5px;
            }
        }
    }
}