.qltyw{
    position: relative;
    .qlty-content{
        padding: 5px 10px;
        text-align: left;
        .item-row{
            padding: 5px 0px;
            .item-label{
                font-size: 14px;
                font-family: "Muli-SemiBold";
                color: #555;
                .vv{
                    font-size: 11px;
                    font-family: "Muli-Bold";    
                }
            }
            .item-value{
                font-size: 12px;
                font-family: "Muli-Light";
                line-height: 14px;
                margin-top: 4px;
            }
        }
    }

}