.semantic{
    position: relative;
    .semantic-content{
        padding: 5px 10px;
        .pie-container{
            width: 50%;
            margin: 0px auto;
        }
        .data-list{
            margin-top: 10px;
            .semantic-item{
                padding: 5px 10px;
                display: flex;
                align-items: center;
                .color-box{
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                }
                .semantic-name{
                    font-size: 12px;
                    font-family: "Muli-Light";
                    line-height: 15px;
                    text-transform: capitalize;
                    color: #555;
                }
            }
        }
        .zoom-info{
            margin: 10px 0px;
            
        }
    }
}