.weather{
    position: relative;
    .weather-content{
        padding: 5px 10px;
        text-align: center;
        .weather-type{
            font-size: 16px;
            font-family: "Muli-SemiBold";
            text-transform: capitalize;
            line-height: 16px;
            color: #555;
            .wimg{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 50px;
                }
            }
        }
    }
}