html,body{
    height: 100%;
    margin: 0;
    background: #f5f4f9;
    font-family: "Muli-Regular";
}

#react-root{
    height: 100%;
    background-color: #eee;
}

.animated-list{
    position: relative;
    display: inline-block;
    width: 200px;
    .animation-item{
        position: absolute;
        right: 0;
    }
}

.fadeIn-enter {
    opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadeIn-leave {
    opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.fadeIn-appear.fadeIn-appear-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
}

.s-container{
    max-width: 980px;
    margin: 0px auto;
    padding: 0px 22px;
    &.headers{
        max-width: 1180px;
    }
}